$font-primary-color: rgb(220, 220, 220);
$font-secondary-color: rgb(143, 146, 151);
$background-primary-color: rgb(54, 57, 63);
$background-primary-color-light: rgb(65, 68, 75);
$background-secondary-color: rgb(47, 49, 54);
$button-blue-color: rgb(101, 85, 241);

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 21vw 79vw;
  grid-template-rows: 21vh 79vh;
}

.sidebar {
  grid-row: 1 / 3;
  
  display: flex;
  flex-flow: column;
  
  gap: 2%;
  padding: 0 10%;
  
  background-color: $background-secondary-color;
  font-size: 1rem;
  
  a {
    text-decoration: none;
    
    display: flex;
    align-items: center;
    gap: 10px;
    
    color: $font-secondary-color;
    padding: 3% 5%;
    border-radius: 5px;

    .logo {
      font-size: 1.5rem;
    }
    svg.logo {
      height: 3rem;
    }
  }
  
  a.link:hover {
    color: rgb(195, 200, 209);
    background-color: rgb(61, 63, 69);
  }
  
  a.current-tab {
    color: rgb(247, 247, 247);
    background-color: rgb(67, 70, 77);
  }
}

header {
  background-color: $background-primary-color;

  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  clip-path: inset(0px 0px -15px -0.5px);

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  column-gap: 3%;
  align-items: center;
  padding: 0 5%;

  color: $font-primary-color;
  
  .searchbar {
    display: flex;
    gap: 3%;
    
    input {
      flex: 1 1 auto;
      
      color: $font-primary-color;
      padding-left: 1.5%;
      background-color: $background-primary-color-light;
      border-radius: 1em;
      border: none;
    }
    input[type=search]:focus {
      outline: none !important;
      border: 2px solid $button-blue-color;
    }
  }

  .profile {
    justify-self: end;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 12%;
    
    font-weight: 700;
    cursor: pointer;
    
    svg {
      flex: 0 0 auto;
    }
    
    img {
      flex: 0 0 auto;
      height: 35px;
      border-radius: 50%;
    }

    span {
      flex: 0 0 auto;
    }
  }
  
  .welcome {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 3%;
    
    font-weight: 700;
    
    img {
      height: 60px;
      border-radius: 50%;
      grid-row: 1 / 3;
    }

    p.hi {
      font-size: 0.8rem;
    }
    p.name {
      font-size: 1.5rem;
    }
  }

  .newButtons {
    display: flex;
    gap: 10%;

    button {
      flex: 1 0 auto;

      height: 2rem;
      font-size: 0.9rem;
      color: white;
      background-color: $button-blue-color;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

%announcement-trending-wrapper {
  border-radius: 5px;
  background-color: $background-secondary-color;
}

main {
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2rem 1fr 2rem 2rem 1fr;
  column-gap: 1.5rem;
  
  color: $font-primary-color;
  background-color: $background-primary-color;

  h1 {
    font-weight: 700;
    font-size: 1.2rem;
  }


  .projectWrapper {
    grid-area: 2 / 1 / 6 / 2;

    p {
      background-color: $background-secondary-color;
    }
  }

  .announcementsWrapper {
    @extend %announcement-trending-wrapper;
    padding: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      font-size: 1rem;
    }
    p {
      font-size: 0.85rem;
    }
    .horizontalLine {
      margin: 5% 0;

      border-top: 2px solid $font-secondary-color;
      border-radius: 2px;
    }
  }
  
  .trendingName {
    grid-area: 4 / 2 / 5 / 3;
  }
  .tredingWrapper {
    grid-area: 5 / 2 / 6 / 3;
    
    @extend %announcement-trending-wrapper;
  }
}